#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.envoltura {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 3px solid white;
}

.envoltura > div {
  display: inline-block;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.calculadora {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 15px;
  border: solid 5px white;
  width: 50%;
  margin-left: 25%;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: none;
  width: 70px;
  margin-right: 30%;
}

.buttons button {
  width: 70px;
}
#display {
  width: 140px;
  height: 70px;
}

footer {
  color: white;
  margin-top: 80px;
}
header {
  color: white;
  margin-bottom: 80px;
}
footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
}